body{
    font-family: "Comic Sans CM"; font-size: 1.2em;
    background: yellow;
    margin: 0%;
    padding-inline: 0%;
}

#header{
  color: #0A7BA5;
  font-family: "Comic Sans CM";
  background: lightgray;
  margin:0 10% 0% 10%;
  margin-block-start: none;
}

#subheader{
  margin:0 10% 0% 10%;
  background: lightgray;
}

#logo{
  text-align: center;
  background-color:grey;
  color:grey;
  padding: 9px;
  margin: 1em auto;
  margin:0 10% 0% 10%;
}

#nav{
  background:grey;
  color:grey;
  margin:0;
  padding:0;
  text-align: center;
  margin:0 10% 0% 10%;

}

#nav li{
  display:inline;
  margin:0;
  padding:0 2em;
  border-right:1px solid;
}  

#nav li a{
  color:orange;
  text-decoration:none;
}  

#img1{
  text-align: center;
  background: lightgrey;
  margin:0 10% 0% 10%;
}

#info{
  margin:0 10% 0% 10%;
  background: lightgrey;
}

#curiositats{
  margin:0 10% 0% 10%;
  background: lightgrey;
}

#curiositats li{
  padding-left: 1em;
}

#wiki {
  margin:0 10% 0% 10%;
  padding: 1em;
  background: lightgrey;
}


#footer {
  text-align: center;
  background-color:#9955bc;
  color:grey;
  padding: 9px;
  margin: 0%;

}





/*
enlaces cuadro q me falta con logo face i tw y data
https://www.facebook.com/
https://x.com

codigo tweet:
<blockquote class="twitter-tweet"><p lang="ca" dir="ltr">🏴‍☠️<a href="https://twitter.com/hashtag/OnePiece?src=hash&amp;ref_src=twsrc%5Etfw">
  #OnePiece</a> en català torna a casa! <br><br>💥 Al juliol podràs veure la primera
  saga i a l’agost, la segona; a la tele i a les plataformes digitals de l’X3. 
  <a href="https://twitter.com/hashtag/OnePieceX3?src=hash&amp;ref_src=twsrc%5Etfw">
  #OnePieceX3</a> <a href="https://twitter.com/hashtag/AnimeX3?src=hash&amp;ref_src=twsrc%5Etfw">
  #AnimeX3</a> <a href="https://twitter.com/hashtag/SomX3?src=hash&amp;ref_src=twsrc%5Etfw">
      #SomX3</a> <a href="https://twitter.com/hashtag/s%C3%A8riesencatal%C3%A0?src=hash&amp;ref_src=twsrc%5Etfw">
          #sèriesencatalà</a> <a href="https://twitter.com/hashtag/estiktokat?src=hash&amp;ref_src=twsrc%5Etfw">
              #estiktokat</a> <a href="https://t.co/iuZK3UJmum">pic.twitter.com/iuZK3UJmum</a>
          </p>&mdash; SX3 (@SomSX3) <a href="https://twitter.com/SomSX3/status/1669702155274539009?ref_src=twsrc%5Etfw">
              June 16, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
*/