body{
  margin:0;
}

#nav{
  background: green;
  color: green;
  margin:0;
  padding:0;
  text-align: center;

}
#nav li{
  display:inline;
  margin:10px;
  padding:0 50px;
}  
#nav li a{
  color:white;
  text-decoration:none;
  font-family: arial;
  text-align: center;
}
#nav li img{
  color:white;
  text-decoration:none;
  font-family: arial;
  
  text-align: left;

}
/*#imgfondo{
  background: url('img/fondoindex.jpg') no-repeat;
  height: 100px;
  width: 100px;
  position:absolute;
  left: 50%;
  z-index: 100;;
}*/

#textfoto{
  color:green;
  text-decoration:none;
  font-family: Arial;
  text-align: left;
  background: url("img/fondoindex.jpg");
  background-size: cover; /* Ajusta la imagen para que ocupe todo el fondo, manteniendo proporciones */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  width: 100%; /* Ancho del contenedor */
  height: auto; /* Ajusta la altura automáticamente o usa un valor fijo */
  min-height: 500px; 
}


/*taula*/
#titol{
  text-align: center;
  font-family: arial;
}

tfoot .foot{
  text-align: center;
  background-color:#526373;
  color:white;
  font-family: 'Comic Sans';
}
table {
  width: 40%;
  caption-side: top;
  margin: auto; 
  display: table;
  border-collapse: collapse;
  border: 1px solid #000;
  border-radius: 12px; 
  overflow: hidden;
  }
  
  td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  padding: 0.3em;
  background-color: white;
  }
  
  th{
    border-collapse: collapse;
    border:1px solid #000;
    background-color: #526373;
    color:white;
  }

  td .cc{
    background-color: #dbe7eb;
  }


/*
<div id="imgfondo">
  <img src="img/fondoindex.jpg"/></img>
</div>
*/

#footer {
  text-align: center;
  background-color:green;
  color:green;
  padding: 9px;
  margin: 0%;
}
#footer p{
  text-align: left;
  color:black;
}
#footer p a{
  color:white;
  font-family: arial;
  text-align: left;
  
}

#reserva-form ul{
  list-style-type: none;
  text-decoration: none;
  padding: 1.2em;
}